:root{
    --primary-color: #4000ff;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'poppins', sans-serifs;

}

.timeline-wrapper{
    max-width: 100vw;
    height: 88vh;

    background-color: rgba(158, 33, 33, 0.99);

    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline{
    height: 0.12rem;
    padding: 0.4rem;
    background-color: #888;
    list-style-type: none;

    --scale: 1;
    display: flex;
}

.timeline li{
    position: relative;
    width: 20rem;
}


.timeline li::before,
.timeline li::after,
data{
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
}
.timeline li::before{
    top: 1rem;
    content: "";
    display: inline-block;
    width: 0.12rem;
    height: 1rem;
    background-color: #888;
}
.timeline li::after{
    content: attr(data-date);
    top: -3.4rem;
}

.data{
    width: 1.3rem;
    height: 1.3rem;
    background-color: #888;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
}




